@import '../../style/colors.scss';

.form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  &-title {
    color: $color-light;
    text-align: center;
    margin-bottom: 1vw;
  }

  &-card {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $color-danger-light;
    border-radius: 10px;
    padding: 1vw;
    margin: .5vw;
  }
  &-label-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &-label {
    color: $color-light;
    font-size: 18px;
    margin-bottom: 2%;
    font-weight: 600;
    width: 100%;
    margin: .5vw;
  }
  &-input {
    width: 100%;
    padding: .5vw;
    font-size: 1.2vw;
    margin: .5vw;
    border-radius: 10px;
    border: .2vw solid #fff;
    outline: none;
  }
}