@import '../../style/colors.scss';

#card {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  &-div {
    width: 100%;
    background-color: $color-danger-light;
    border-radius: 10px;
    padding: 2vw;
    margin: .5vw;
  }
  &-item {
    background-color: $color-light;
    color: $color-danger-light;
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    border-radius: 10px;
  }
}